    html {
        --noir: #212121;
        --blanc: #FAFAFA;
        --violet: #9C27B0;
        --vert: #76FF03;
        --gris1: #616161;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    /*header*/
    
    .header--bgc--width--flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to bottom right, var(--violet), var(--noir));
        padding-top: 0.4em;
        box-shadow: 15px 15px 15px var(--gris1);
        border: solid 1px black;
    }
    
    .bloc--header__seize {
        width: 45%;
        height: auto;
    }
    
    .header__nav__a--style {
        font-size: 1.7em;
        color: var(--blanc);
        padding-right: 1.5em;
        text-decoration: none;
        font-family: sans-serif;
    }
    
    .header__nav__a--style:hover {
        color: var(--vert);
        cursor: pointer;
    }
    
    .header__nav__a--style:active {
        color: var(--violet);
    }
    /*section central*/
    
    .section--style--width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3em;
        height: auto;
        text-align: center;
    }
    
    .bloc--section--index__style {
        opacity: 0.3;
        width: 30%;
        height: auto;
    }